---
import LatestBlog from "./LatestBlog.astro";
import LatestVideo from "./LatestVideo.astro";
import CardGrid from "@/components/common/CardGrid.astro";
---

<section class="relative px-4 md:px-12" id="latest-activity">
  <div class="mx-auto w-full max-w-5xl flex flex-col">
    <!-- Section label card -->
    <div class="grid md:grid-cols-2">
      <LatestVideo />
      <LatestBlog />
    </div>
  </div>
</section>
