---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  icon: string;
  description: string;
}

const { title, icon, description } = Astro.props;
---

<div
  class="border-border hover:border-foreground-3 hover:bg-background-1 border bg-background-0 p-6 transition-colors duration-200"
>
  <div class="flex gap-4">
    <div
      class="border-border inline-flex size-10.5 shrink-0 items-center justify-center border [&>svg]:size-5.25"
    >
      <Icon name={icon} class="text-foreground-0 h-5 w-5" />
    </div>
    <div>
      <h3
        class="font-display text-foreground-0 mb-2 font-medium tracking-wide text-balance uppercase"
      >
        {title}
      </h3>
      <p class="text-foreground-1 pt-2 text-sm leading-relaxed">
        {description}
      </p>
    </div>
  </div>
</div>
