---
import Badge from "@/components/ui/Badge.astro";
import { skills } from "@data/homepage";
import Skill from "@/components/homepage/Skill.astro";
---

<section
  class="relative flex items-center justify-center px-4 md:px-12 border-b dot-pattern-interactive"
>
  <div
    class="stripe-pattern-dense mx-auto w-full max-w-7xl border-r border-l p-6"
  >
    <div class="">
      <!-- Main Grid Layout -->
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-20">
        <!-- Left Column - Main Content -->
        <div class="flex flex-col gap-8">
          <!-- Badge -->
          <Badge variant="accent">DevOps Engineer</Badge>
          <!-- Main Heading -->
          <h1 class="text-section-heading">
            <div>Rajesh</div>
            <div>Das</div>
          </h1>

          <!-- Subtitle -->
          <div class="max-w-xl space-y-6">
            <p class="text-foreground-1 text-base leading-relaxed md:text-lg">
              Building robust infrastructure and automation tools that empower
              development teams. Specialized in cloud architecture, CI/CD
              pipelines, and developer experience.
            </p>
          </div>
        </div>

        <!-- Right Column - Attributes -->
        <div class="grid md:grid-cols-2 lg:grid-cols-2">
          {
            skills.map((skill) => (
              <Skill
                id={skill.id}
                title={skill.title}
                icon={skill.icon}
                items={skill.items}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
