---
import { getCollection } from "astro:content";
import HomepageHero from "@/components/homepage/HomepageHero.astro";
import HomepageMetrics from "@/components/homepage/HomepageMetrics.astro";
import HomepageLatestSignal from "@/components/homepage/HomepageLatestSignal.astro";
import { getSortedPosts } from "@/lib/utils";

const allPosts = await getCollection("posts");
const sortedPosts = getSortedPosts(allPosts);
const latestPost = sortedPosts[0];
---

<div class="homepage overflow-hidden">
  <HomepageHero />
  <HomepageMetrics />
  {latestPost && <HomepageLatestSignal latestPost={latestPost} />}
</div>
