---
import type { CollectionEntry } from "astro:content";
import HomepageHero from "@/components/homepage/HomepageHero.astro";
import HomepageLatestSignal from "@/components/homepage/HomepageLatestSignal.astro";

interface Props {
  latestPost: CollectionEntry<"posts">;
}

const { latestPost } = Astro.props as Props;
---

<div class="homepage overflow-hidden">
  <HomepageHero />
  <HomepageLatestSignal latestPost={latestPost} />
</div>
