---
import { Icon } from "astro-icon/components";
import CardGrid from "../ui/CardGrid.astro";

interface Props {
  id: string;
  title: string;
  icon: string;
  items: string[];
}

const { id, title, icon, items } = Astro.props;
---

<CardGrid>
  <div class="mb-6 flex items-start justify-between">
    <div
      class="border-border inline-flex size-10.5 shrink-0 items-center justify-center border [&>svg]:size-5.25"
    >
      <Icon name={icon} class="text-foreground-0 size-6" />
    </div>
    <div class="text-foreground-3 text-sm">{id}</div>
  </div>

  <h3
    class="font-display text-foreground-0 mb-6 font-semibold tracking-wide uppercase"
  >
    {title}
  </h3>

  <ul class="space-y-2">
    {
      items.map((item) => (
        <li class="text-foreground-1 text-xs tracking-wide">{item}</li>
      ))
    }
  </ul>
</CardGrid>
