---
// Header Component - Navigation and branding
import { navItems, SITE } from "@data/config";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import { ModeToggle } from "@/components/core/ModeToggle";
import AnimatedText from "@/components/common/AnimatedText.tsx";
import { User } from "lucide-react";
import MobileMenuToggle from "@/components/core/MobileMenuToggle.astro";
import MobileMenuPanel from "@/components/core/MobileMenuPanel.astro";
---

<header
  class="border-border sticky top-0 z-50 flex items-center justify-center border-b bg-background-0 backdrop-blur-xl px-4 py-4 md:py-6 md:px-12"
>
  <nav class="mx-auto w-full max-w-7xl">
    <div class="flex items-center">
      <!-- Logo (1 part) -->
      <a href="/" class="flex flex-row font-mono flex-1">
        <AnimatedText client:load text="rajeshdas" className="text-accent-1" auto={true} hover={true} />
        <div class="text-foreground-3">.dev</div>
      </a>

      <!-- Desktop Navigation (2 parts) -->
      <div class="hidden items-center justify-center gap-12 md:flex font-mono flex-2">
        {
          navItems
            .filter((item) => !item.special)
            .map((item) => (
              <a
                href={item.href}
                target={item.blank ? "_blank" : undefined}
                rel={item.blank ? "noopener noreferrer" : undefined}
              >
                <div class="text-sm text-foreground-2 hover:text-accent-1">{item.label}</div>
              </a>
            ))
        }
      </div>

      <div class="hidden items-center justify-end gap-2 md:flex flex-1">
        <!-- Theme Toggle -->
        <ModeToggle client:load />
      </div>

      <!-- Mobile Menu Toggle -->
      <MobileMenuToggle />
    </div>
  </nav>
</header>

<!-- Mobile Menu Panel -->
<MobileMenuPanel navItems={navItems.filter((item) => !item.special)} />

<!-- AnimatedText component handles the animation behavior -->
