---
import { navItems } from "@data/config";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const { transparent_header = false } = Astro.props;
---

<header>
  <a href="/">Rajesh Das</a>
  <nav>
    {
      navItems.map((item) => (
        <a href={item.href} target={item.blank ? "_blank" : "_self"}>
          {item.label}
        </a>
      ))
    }
  </nav>
</header>
