---
// Header Component - Navigation and branding
import { navItems, SITE } from "@data/config";
import { Icon } from "astro-icon/components";
import MobileMenuPanel from "@/components/core/MobileMenuPanel.astro";
import MobileMenuToggle from "@/components/core/MobileMenuToggle.astro";
import Button from "@/components/ui/Button.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="border-border sticky top-0 z-50 flex h-24 items-center justify-center border-b bg-background-0 px-4 py-12 md:px-12"
>
  <nav class="mx-auto w-full max-w-7xl md:px-6">
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <a href="/">
        <Button size="icon" variant="secondary">rd</Button>
      </a>

      <!-- Desktop Navigation -->
      <div class="hidden items-center gap-4 md:flex">
        {
          navItems
            .filter((item) => !item.special)
            .map((item) => (
              <a
                href={item.href}
                target={item.blank ? "_blank" : undefined}
                rel={item.blank ? "noopener noreferrer" : undefined}
              >
                <Button variant="ghost">{item.label}</Button>
              </a>
            ))
        }
      </div>

      <div class="items-center gap-2 flex">
        <ThemeToggle />
        <MobileMenuToggle />
      </div>
    </div>
  </nav>
</header>

<!-- Mobile Menu Panel -->
<MobileMenuPanel navItems={navItems.filter((item) => !item.special)} />
