---
import { Socials } from "@data/config";
import { Icon } from "astro-icon/components";
import Button from "@/components/ui/Button.astro";
---

<nav class="flex items-center gap-3">
  {
    Socials.filter((social) => social.active).map((social) => (
      <Button
        href={social.href}
        size="icon"
        variant="secondary"
        target="_blank"
        rel="noopener noreferrer"
        aria-label={social.name}
      >
        <Icon name={social.name} class="size-5" />
      </Button>
    ))
  }
</nav>
