---
import { Socials } from "@data/config";
---

<nav>
  {
    Socials.filter((social) => social.active).map((social) => (
      <a href={social.href} target="_blank" rel="noopener noreferrer">
        {social.name}
      </a>
    ))
  }
</nav>
