---
import "plyr/dist/plyr.css";

const { id } = Astro.props;
---

<div class="box-tr-lg w-full">
  <div
    id="player"
    class="w-full"
    data-plyr-provider="youtube"
    data-plyr-embed-id={id}
    data-plyr-config='{ "title": "Example Title" }'
  >
  </div>
</div>

<script>
  import initPlyr from "@/lib/initPlyr";
  initPlyr();
</script>
