---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/project/ProjectCard.astro";
import FeaturedCard from "@/components/project/FeaturedCard.astro";
import type { ProjectEntry } from "@/lib/types";

const project_collection: ProjectEntry[] = await getCollection("projects").then(
  (entries) => entries.filter((entry) => !entry.data.draft)
);

const featured = project_collection.find((p) => p.data.featured);
const projects = featured
  ? project_collection.filter((p) => p.id !== featured.id)
  : project_collection;

projects.sort((a, b) => {
  const aDate = new Date(a.data.modDatetime ?? a.data.pubDatetime).valueOf();
  const bDate = new Date(b.data.modDatetime ?? b.data.pubDatetime).valueOf();
  return bDate - aDate;
});
---

<BaseLayout>
  <aside transition:name="left-project">
    {featured && <FeaturedCard project={featured} />}
  </aside>

  <section>
    <h1 transition:name="latest-projects">Projects</h1>
    {projects.map((project: ProjectEntry) => <ProjectCard project={project} />)}
  </section>
</BaseLayout>
