---
import Bar from "@/assets/barcode.svg";
import SkillCard from "@/components/home/SkillCard.astro";
import { Skills } from "@data/config";
---

<section class="w-full">
  <div class="col flex w-full flex-col gap-4">
    <div class="flex flex-row items-center justify-between">
      <h2 class="text-text-default text-3xl font-bold">
        <span class="text-cyan">05.</span> Technical Skills
      </h2>
      <div class="flex items-center justify-center opacity-30">
        <Bar />
      </div>
    </div>
    <p class="text-text-subtle mb-2 text-sm">
      My toolkit for building, breaking, and fixing things in the cloud ☁️
    </p>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {Skills.map((skill) => <SkillCard skill={skill} />)}
    </div>
  </div>
</section>
