---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="flex h-screen flex-1 items-center justify-center lg:h-[calc(100vh-14rem)]"
  >
    <div
      class="box-tr-md bg-cyan text-background p-4 font-mono text-8xl font-bold"
    >
      <h1>404 Not Found</h1>
    </div>
  </div>
</BaseLayout>
