---
import BaseLayout from "@/layouts/BaseLayout.astro";
import HeroSection from "@/components/about/HeroSection.astro";
import MyStorySection from "@/components/about/MyStorySection.astro";
import WhatImDoingSection from "@/components/about/WhatImDoingSection.astro";
import HowIWorkSection from "@/components/about/HowIWorkSection.astro";
import CertificationsSection from "@/components/about/CertificationsSection.astro";
import SkillsSection from "@/components/about/SkillsSection.astro";
---

<BaseLayout>
  <div class="flex w-full flex-col gap-12 px-6 md:max-w-4xl lg:max-w-6xl">
    <HeroSection />
    <MyStorySection />
    <WhatImDoingSection />
    <HowIWorkSection />
    <CertificationsSection />
    <SkillsSection />
  </div>
</BaseLayout>
