---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Social from "@/components/core/Social.astro";
import Articles from "@/components/home/Articles.astro";
import Projects from "@/components/home/Projects.astro";
---

<BaseLayout>
  <section>
    <span>Available for hire (will work for good coffee ☕)</span>
    <h1>Rajesh Das</h1>
    <h2>DevOps & Automation Engineer</h2>
    <p>
      I make clouds behave, pipelines flow smoothly, and deployments happen
      without drama. From Kubernetes clusters to CI/CD wizardry, I automate the
      boring stuff so teams can focus on building cool things. Think GitOps,
      IaC, and systems that actually stay up at 3 AM.
    </p>
    <nav>
      <a href="/contact">Hire Me</a>
      <a href="https://hyperoot.dev/" target="_blank">See What I've Built</a>
      <a href="/about">About Me</a>
    </nav>
    <Social />
  </section>

  <section>
    <Articles />
  </section>
</BaseLayout>
