---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PlyrCard from "@/components/core/PlyrCard.astro";
---

<BaseLayout>
  <div class="flex w-full flex-1">
    <div class="flex flex-col gap-8 p-8">
      <section class="flex flex-row">
        <PlyrCard />
      </section>
    </div>
  </div>
</BaseLayout>
