---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Video from "@/components/core/Video.astro";
---

<BaseLayout>
  <div class="flex w-full flex-col gap-8">
    <section class="w-full">
      <h1>First</h1>
      <Video id="bTqVqk7FSmY" />
    </section>
  </div>
</BaseLayout>
