---
import { getCollection } from "astro:content";
import ProjectCard from "@/components/project/ProjectCard.astro";
import FeaturedCard from "@/components/project/FeaturedCard.astro";

const projects = await getCollection("projects").then((entries) =>
  entries.filter((entry) => !entry.data.draft)
);

projects.sort((a, b) => {
  const aDate = new Date(a.data.modDatetime ?? a.data.pubDatetime).valueOf();
  const bDate = new Date(b.data.modDatetime ?? b.data.pubDatetime).valueOf();
  return bDate - aDate;
});

const featured = projects.find((p) => p.data.featured) ?? projects[0];
const rightProjects = projects.slice(0, 2);
---

<section>
  <h1 transition:name="latest-projects">Latest projects</h1>
  <a href="/project/">View all</a>
  {featured && <FeaturedCard project={featured} />}
  {rightProjects.map((project) => <ProjectCard project={project} />)}
</section>
