---
import PostCard from "@/components/post/PostCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { TagPageProps } from "@/lib/types";

export async function getStaticPaths() {
  const posts = await getCollection("posts").then((entries) =>
    entries.filter((entry) => !entry.data.draft)
  );

  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: {
      tag,
      posts: posts.filter((post) => post.data.tags?.includes(tag)),
    },
  }));
}

const { tag, posts } = Astro.props as TagPageProps;
---

<BaseLayout>
  <div>
    {
      posts.map((post) => (
        <div>
          <PostCard post={post} />
        </div>
      ))
    }
  </div>
</BaseLayout>
