---
const { currentPage, prevUrl, nextUrl, firstUrl, lastUrl, totalPages } =
  Astro.props;
---

<nav>
  {prevUrl ? <a href={prevUrl}>Previous</a> : <span>Previous</span>}
  <span>{currentPage} / {totalPages}</span>
  {nextUrl ? <a href={nextUrl}>Next</a> : <span>Next</span>}
</nav>
