---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { formatDate } from "@/lib/utils";

const {
  title,
  description,
  pubDatetime,
  modDatetime,
  featured,
  draft,
  tags,
  cover,
  category,
  coverAlt,
  headings,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={cover}
  imageAlt={coverAlt}
  contentType="Article"
  transparent_header="true"
>
  <article class="py-12">
    <div class="container flex flex-col items-center">
      <div class="prose max-w-4xl">
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
