---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

interface AccordionProps extends HTMLAttributes<"div"> {
  class?: string;
  open?: boolean;
  icon?: string;
}

const {
  class: className,
  open = false,
  icon = "caret-up",
  ...rest
} = Astro.props as AccordionProps;

const baseClasses =
  "accordion-item hover:bg-background-2 rounded-lg overflow-hidden transition-all duration-300";

const classes = [baseClasses, className?.trim()].filter(Boolean).join(" ");
---

<div class={classes} data-state={open ? "pinned" : "collapsed"} {...rest}>
  <div
    class="text-foreground-0 flex w-full cursor-pointer items-center justify-between gap-4 px-6 py-2 text-base font-medium transition-all duration-300"
    data-accordion-header
  >
    <slot name="trigger" />
    <Icon
      name={icon}
      class="size-5 transition-transform duration-200"
      data-accordion-icon
    />
  </div>
  <div
    class="max-h-0 overflow-hidden transition-all duration-300"
    data-accordion-content
  >
    <div
      class="text-foreground-0 px-6 py-2 leading-relaxed opacity-0 transition-opacity duration-300"
    >
      <slot name="content" />
    </div>
  </div>
</div>
