---
// Accordion component - simplified for redesign
---

<details>
  <summary>
    <slot name="header-left" />
    <slot name="header-right" />
  </summary>
  <div>
    <slot name="content" />
  </div>
</details>
