---
import type { HTMLAttributes } from "astro/types";

interface ButtonProps extends HTMLAttributes<"button"> {
  variant?: "default" | "accent" | "ghost";
  size?: "default" | "icon";
  type?: "button" | "submit" | "reset";
  disabled?: boolean;
  class?: string;
}

const {
  variant = "default",
  size = "default",
  type = "button",
  disabled = false,
  class: className,
  ...rest
} = Astro.props as ButtonProps;
---

<button
  class={[
    "inline-flex items-center justify-center font-medium transition-colors cursor-pointer",
    "focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring",
    "disabled:pointer-events-none disabled:opacity-80",
    {
      default: "bg-content text-text-default hover:bg-elevated",
      accent: "bg-blue text-background hover:bg-blue/10",
      ghost: "bg-transparent text-text-default hover:bg-elevated",
    }[variant],
    {
      default: "h-8 px-4",
      icon: "aspect-square special",
    }[size],
    className,
  ]
    .filter(Boolean)
    .join(" ")}
  type={type}
  disabled={disabled}
  {...rest}
>
  <slot />
</button>

<style>
  .special {
    clip-path: polygon(
      0 0,
      calc(100% - 0.5rem) 0,
      100% 0.5rem,
      100% 100%,
      0 100%
    );
  }
</style>
