---
import type { HTMLAttributes } from "astro/types";

type IconFrameSize = "sm" | "md" | "lg";

interface Props extends HTMLAttributes<"div"> {
  size?: IconFrameSize;
  class?: string;
}

const { size = "md", class: className, ...rest } = Astro.props;
---

<div
  class:list={[
    "border-border inline-flex shrink-0 items-center justify-center border",
    {
      "size-6.5 [&>svg]:size-3.25": size === "sm",
      "size-8 [&>svg]:size-4": size === "md",
      "size-10.5 [&>svg]:size-5.25": size === "lg",
    },
    className?.trim(),
  ]}
  {...rest}
>
  <slot />
</div>
