---
const { width = "32", color = "cyan" } = Astro.props;
---

<div class={`relative h-2 w-${width}`}>
  <div
    class={`bg-${color} left-0 size-full`}
    data-collapsed="false"
    style="clip-path: polygon(0 0, 100% 0, 100% 2px, 3rem 2px, 2rem 1rem, 0 1rem);"
  >
  </div>
</div>
