---
import Badge from "@/components/ui/Badge.astro";

type BadgeVariant = "default" | "outline" | "accent";

interface Props {
  badge: string;
  badgeVariant?: BadgeVariant;
  description?: string;
  align?: "left" | "center";
  class?: string;
}

const {
  badge,
  badgeVariant = "outline",
  description,
  align = "left",
  class: className,
} = Astro.props;
---

<div
  class:list={[
    "mb-12",
    { "text-center": align === "center" },
    className?.trim(),
  ]}
>
  <Badge variant={badgeVariant}>{badge}</Badge>
  <h1
    class:list={[
      "text-section-heading my-8",
      { "text-center!": align === "center" },
    ]}
  >
    <slot />
  </h1>
  {
    description && (
      <p
        class:list={[
          "text-foreground-1 max-w-2xl text-base leading-relaxed md:text-lg",
          { "mx-auto": align === "center" },
        ]}
      >
        {description}
      </p>
    )
  }
</div>
